@import '../../styles/variables';

.HeroImage {
    width: 100%;
    padding-top: 56.25%;
    min-height: 720px;
    position: relative;
    mask-image: url('./wave-mask.png');
    mask-size: cover;
    mask-position: bottom;
    -webkit-mask-image: url('./wave-mask.png');
    -webkit-mask-size: cover;
    -webkit-mask-position: bottom;

    @media screen and (min-width: 1920px) {
        padding-top: 1080px;
    }

    &--img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        object-fit: cover;
    }

    &--content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
}
