$black: #131313;
$white: #fbfbfb;
$lightgrey: #eaeaea;
$accent: #35e2df;
$purple: #b200b7;
$orange: #f38100;

$text-dark: $black;
$text-dark-primary: rgba($text-dark, 0.92);
$text-dark-secondary: rgba($text-dark, 0.8);

$text-light: $white;
$text-light-primary: rgba($text-light, 0.92);
$text-light-secondary: rgba($text-light, 0.8);

$warning-orange: #ff6700;
$error-red: #cc0000;
$success-green: #a8ff00;
