.HomePage {
    &--logo {
        width: 100%;
        max-width: 1500px;
        object-fit: contain;
        margin-left: 50;
    }

    &--title {
        text-align: center;
        font-size: 50px;
        margin: 10;
        margin-right: 10;
    }
}

.videoTag{

    height: 100%;
    width: 100%;
    float: left;
    top: 0;
    padding: none;
    position: fixed; /* optional depending on what you want to do in your app */
    z-index: -100;
    
    }